.card {
    width: 30%;
    margin-left:3%;
}
.Name1{
    text-align: center;
}
.Name2{
    text-align: center;
    margin-top: 8%;
}
.Name3{
    text-align: center;
    margin-top: 9%;
}
.form{
    width: 500px;
}